#!/bin/bash

# Авторизационные данные для подключения к хранилищу

# Установка переменных
DATE="$(command -v date)"
NOW=$($DATE +%Y%m%d_%H%M%S)
node_exporter_textfile_dir="/var/lib/node_exporter"
BKPTARGET="{{ duplicitybkp_ssh_backup_target }}"
BKPSTORE="{{ duplicitybkp_ssh_store_dsn }}"
JOBNAME="{{ duplicitybkp_ssh_jobname_prefix }}"

read -r -d '' METRIC_PREFIX << EOM
# HELP duplicity_backup swift upload
# TYPE duplicity_upload counter
duplicity_upload{type="{{ bkptype }}",project="${JOBNAME}"}
EOM

# Выполнение архивирования
/usr/bin/duplicity \
    --volsize {{ duplicitybkp_volsize }} \
    --no-encryption \
    --allow-source-mismatch \
    --full-if-older-than {{ duplicitybkp_fullevry|d('30D') }} \
    {% if duplicitybkp_ssh_exclude_list is defined %}
    --exclude-filelist "${EXCLUDE_FILE}" \
    {% endif -%}
    {{ _duplicitybkp_extraopts }} \
    ${BKPTARGET} \
    ${BKPSTORE}
rc=$?;
if [[ $rc == 0 ]]; then echo "$NOW: Backup database succefully uploaded to S3"; fi
if [[ $rc == 0 ]]; then
  if [ -f $node_exporter_textfile_dir/${JOBNAME}_upload.prom ]; then
    cat $node_exporter_textfile_dir/${JOBNAME}_upload.prom \
      | grep -v '^\s*#' \
      | awk -v PREFIX="$METRIC_PREFIX" '{a = ++$2; if ( a > 9 ) a = 0; print PREFIX, a}' \
      | tee $node_exporter_textfile_dir/${JOBNAME}_upload.prom.$ >/dev/null
    mv $node_exporter_textfile_dir/${JOBNAME}_upload.prom.$  $node_exporter_textfile_dir/${JOBNAME}_upload.prom
  else
    echo -e "${METRIC_PREFIX} 1" > $node_exporter_textfile_dir/${JOBNAME}_upload.prom.$
    mv $node_exporter_textfile_dir/${JOBNAME}_upload.prom.$  $node_exporter_textfile_dir/${JOBNAME}_upload.prom
  fi
fi

/usr/bin/duplicity \
    --no-encryption \
    remove-older-than {{ duplicitybkp_removeolder|d('31D') }} \
    --force \
    {{ _duplicitybkp_extraopts }} \
    ${BKPSTORE}

/usr/bin/duplicity \
    --no-encryption \
    remove-all-but-n-full {{ duplicitybkp_fullcopies|d('1') }} \
    --force \
    {{ _duplicitybkp_extraopts }} \
    ${BKPSTORE}


