#!/bin/bash
set -x
###******************************************************************************************###

BACKUPNAME="{{ pgbinbkp_jobname }}"
BASEBACKUP_DATA_PATH="{{ pgbinbkp_data_path }}"
PGHOST="{{ pgbinbkp_pghost }}"
PGPORT="{{ pgbinbkp_pgport }}"
PGUSER="{{ pgbinbkp_pguser }}"
PG_PASS="{{ pgbinbkp_pgpass }}"
PG_BASEBACKUP_OPTIONS="{{ pgbinbkp_basebackup_options }}"
###******************************************************************************************###
PG_BASEBACKUP="$(command -v pg_basebackup)"
DATE="$(command -v date)"
NOW=$($DATE +%Y%m%d_%H%M%S)
node_exporter_textfile_dir="{{ node_exporter_textfile_dir }}"

read -r -d '' METRIC_PREFIX << EOM
# HELP duplicity_backup frecuency backup
# TYPE duplicity_backup counter
duplicity_backup{type="pg_basebackup_native",project="${BACKUPNAME}"}
EOM

###******************************************************************************************###
create_backup_act()
{
    set -o pipefail

    rm -vRf ${BASEBACKUP_DATA_PATH}/{*,.*}
    PGPASSWORD=$PG_PASS $PG_BASEBACKUP -D "$BASEBACKUP_DATA_PATH" -h "${PGHOST}" -p "${PGPORT}" -U "${PGUSER}" $PG_BASEBACKUP_OPTIONS

    rc=$?; ARCHIVE_SIZE=$(du -sh "${BASEBACKUP_DATA_PATH}")
    if [[ $rc == 0 ]]; then echo "$NOW: Backup database was created, archive size $ARCHIVE_SIZE"; fi
    if [[ $rc == 0 ]]; then
      if [ -f $node_exporter_textfile_dir/${BACKUPNAME}.prom ]; then
        cat $node_exporter_textfile_dir/${BACKUPNAME}.prom \
          | grep -v '^\s*#' \
          | awk -v PREFIX="$METRIC_PREFIX" '{a = ++$2; if ( a > 9 ) a = 1; print PREFIX, a}' \
          | tee $node_exporter_textfile_dir/${BACKUPNAME}.prom.$ >/dev/null
        mv $node_exporter_textfile_dir/${BACKUPNAME}.prom.$  $node_exporter_textfile_dir/${BACKUPNAME}.prom
      else
        echo -e "${METRIC_PREFIX} 1" > $node_exporter_textfile_dir/${BACKUPNAME}.prom.$
        mv $node_exporter_textfile_dir/${BACKUPNAME}.prom.$  $node_exporter_textfile_dir/${BACKUPNAME}.prom
      fi
    fi
  done < $BkpListFile
}

##_MAIN_
  create_backup_act;
exit 0

